html, button {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

#drawingCanvas {
	border: 1px solid black;
	border-radius: 5px;
	aspect-ratio: 250/128;
	width: 100%;
	max-width: 500px;
}

.buttons {
	display: flex;
	flex-flow: row nowrap;
	margin: 10px 0;
	gap: 5px;
}

button {
	background-color: white;
	padding: 5px 10px;
	border-radius: 5px;
	color: black;
	border: 1px solid black;
	transition: background-color 0.5s; 
	cursor: pointer;

	&:hover {
		background-color: lightgrey;
	}
}
